<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.domain.diaryDAO">
	
	<select id="selectDiary" parameterType="com.smhrd.domain.diary" resultType="com.smhrd.domain.diary">
		select * from diary where mem_id=#{mem_id} 
	</select>
	
	<insert id="insertImg" parameterType="com.smhrd.domain.diaryImg">
		insert into diary_img values(diary_imgnum.nextval, #{d_num}, #{d_tripday}, #{p_oname}, #{p_loc}, #{p_memid})
	</insert>
	<select id="selectDimgf" parameterType="com.smhrd.domain.diaryImg" resultType="com.smhrd.domain.diaryImg">
		select * from diary_img where p_memid={p_memid} and d_num={d_num} and p_one="첫번째"
	</select>
</mapper>