<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.domain.DiaryDAO">
	<insert id="insertDiary" parameterType="com.smhrd.domain.Diary">
		insert into diary values(#{dia_num}, #{dia_name}, #{dia_tripday}, #{dia_share}, #{dia_date}, #{mem_id}, #{dia_content})
	</insert>
	<select id="selectDiary" parameterType="String" resultType="com.smhrd.domain.Diary">
		
		select * from diary where mem_id=#{mem_id}
	</select>
	
</mapper>