<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.domain.inplanDAO">
   
   <select id="selectAllPlan" parameterType="String" resultType="com.smhrd.domain.inplan">
      select * from inplan where mem_id=#{mem_id} 
   </select>
  
   
   <insert id="insertInplan" parameterType="com.smhrd.domain.inplan">
   		insert into inplan values(pk_seq.nextval, #{inplan_name}, #{tour_num}, #{mem_id}, #{plan_date})
   </insert>
   
   <insert id="insertPlanner" parameterType="com.smhrd.domain.plan">
   		insert into plan(plan_num, plan_date, mem_id) values(pk_seq.nextval, #{plan_date}, #{mem_id} )
   </insert>
   
</mapper>