<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.domain.MemberDAO">
	<insert id="insertMember" parameterType="com.smhrd.domain.Member">
		insert into member values(#{id}, #{pw}, #{name}, #{tel})
	</insert>
	<select id="selectMember" parameterType="com.smhrd.domain.Member" resultType="com.smhrd.domain.Member">
		select * from member where mem_id=#{id} and mem_pw=#{pw}
	</select>
	<update id="updateMember" parameterType="com.smhrd.domain.Member">
		update member set mem_pw=#{pw}, mem_tel=#{tel}, mem_name=#{name} where mem_id=#{id}
	</update>
	
	<select id="selectAll" resultType="com.smhrd.domain.Member">
		select * from member
	</select>
	
	<delete id="deleteMember" parameterType="String">
		delete from member where mem_id = #{id}
	</delete>
	
	<select id="selectId" parameterType="String" resultType="String">
		select mem_id from member where mem_id=#{j_id}
	</select>
</mapper>