<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.domain.MemberDAO">
	<insert id="insertMember" parameterType="com.smhrd.domain.Member">
		insert into member(mem_id,mem_pw,mem_name,mem_tel) values(#{id}, #{pw}, #{name}, #{tel})
	</insert>
	<select id="selectMember" parameterType="com.smhrd.domain.Member" resultType="com.smhrd.domain.Member">
		select * from member where email=#{id} and pw=#{pw}
	</select>
	<update id="updateMember" parameterType="com.smhrd.domain.Member">
		update member set pw=#{pw}, tel=#{tel}, name=#{name} where id=#{id}
	</update>
	
	<select id="selectAll" resultType="com.smhrd.domain.Member">
		select * from member
	</select>
	
	<delete id="deleteMember" parameterType="String">
		delete from member where id = #{id}
	</delete>
	
	<select id="selectEmail" parameterType="String" resultType="String">
		select email from member where id=#{id}
	</select>
</mapper>