<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.domain.reviewDAO">
   <insert id="insertReview" parameterType="com.smhrd.domain.review">
      insert into review values(pk_seq.nextval, #{tour_num},#{mem_id}, #{rev_star}, #{rev_content}, sysdate)
   </insert>
   
   <select id="selectReview" parameterType="BigDecimal" resultType="com.smhrd.domain.review">
      select * from review where tour_num=#{tour_num}
   </select>
   
	<update id="updateReview" parameterType="com.smhrd.domain.review">
		update review set rev_star=#{star}, rev_content=#{content} where rev_user=#{user}
	</update>

	<delete id="deleteReview" parameterType="String">
		delete from review where rev_user=#{user}
	</delete>


   


</mapper>