<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.smhrd.domain.tourDAO">

	<select id="selectTourInfo" parameterType="int" resultType="com.smhrd.domain.tour">
		select * from tour where tour_num = #{tourNum}
	</select>

	<select id="selectTourList" resultType="com.smhrd.domain.tour">
		select * from tour where tour_num > 600 order by tour_num
	</select>
	
	<select id="selectFoodList" resultType="com.smhrd.domain.tour">
		select * from tour where tour_num between 1 and 400 order by tour_num
	</select>
	
	<select id="selectCafeList" resultType="com.smhrd.domain.tour">
		select * from tour where tour_num between 401 and 600 order by tour_num
	</select>

	<select id="selectTourImgList" resultType="com.smhrd.domain.tour">
		select * from tour_img where tour_num > 600
	</select>
	
	<select id="selectFoodImgList" resultType="com.smhrd.domain.tour">
		select * from tour_img where tour_num between 1 and 400 order by tour_num
	</select>
	
	<select id="selectCafeImgList" resultType="com.smhrd.domain.tour">
		select * from tour_img where tour_num between 401 and 600 order by tour_num
	</select>
	
	<select id="selectImgList" parameterType="int" resultType="String">
		select t_add from tour_img where tour_num = #{tourNum}
	</select>
	
	<!-- <select id="pagingtour" parameterType="int" resultType="String">
		select * from ( select * from ( select rownum row_num, tour.* from tour) where 
			row_num <![CDATA[ >= ]]> ((#{page}-1)*10+1) )where row_num <![CDATA[ <= ]]> #{page}*10
	</select>
 -->

   <select id="selectTour" parameterType="com.smhrd.domain.inplan" resultType="com.smhrd.domain.tour">
      select * from tour
      where tour_num in (select tour_num from inplan where inplan_name=#{inplan_name} and mem_id=#{mem_id})
   </select>

</mapper>