<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
     <servlet-name>LoginCon</servlet-name>
     <display-name>LoginCon</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.LoginCon</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>TourInfoCon</servlet-name>
     <display-name>TourInfoCon</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.TourInfoCon</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>JoinCon</servlet-name>
     <display-name>JoinCon</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.JoinCon</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>LogoutCon</servlet-name>
     <display-name>LogoutCon</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.LogoutCon</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>PlanCon</servlet-name>
     <display-name>PlanCon</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.PlanCon</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>PlanAddCon</servlet-name>
     <display-name>PlanAddCon</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.PlanAddCon</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>imgupCon1</servlet-name>
     <display-name>imgupCon1</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.imgupCon1</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>imgupCon2</servlet-name>
     <display-name>imgupCon2</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.imgupCon2</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>diaryCon</servlet-name>
     <display-name>diaryCon</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.diaryCon</servlet-class>
  </servlet>

  <servlet>
     <servlet-name>IdCheckCon</servlet-name>
     <display-name>IdCheckCon</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.IdCheckCon</servlet-class>
  </servlet>

  <servlet>
     <servlet-name>PlanInsertCon</servlet-name>
     <display-name>PlanInsertCon</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.PlanInsertCon</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>SetInPlanCon</servlet-name>
     <display-name>SetInPlanCon</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.SetInPlanCon</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>imguChangeCon1</servlet-name>
     <display-name>imguChangeCon1</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.imguChangeCon1</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>diaryUpdateCon</servlet-name>
     <display-name>diaryUpdateCon</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.diaryUpdateCon</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>imguChangeCon2</servlet-name>
     <display-name>imguChangeCon2</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.imguChangeCon2</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>imgupCon3</servlet-name>
     <display-name>imgupCon3</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.imgupCon3</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>imguChangeCon3</servlet-name>
     <display-name>imguChangeCon3</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.imguChangeCon3</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>diaryUpdateCon2</servlet-name>
     <display-name>diaryUpdateCon2</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.diaryUpdateCon2</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>imgupCon</servlet-name>
     <display-name>imgupCon</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.imgupCon</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>diaryAlbumCon</servlet-name>
     <display-name>diaryAlbumCon</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.diaryAlbumCon</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>diaryAddCon</servlet-name>
     <display-name>diaryAddCon</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.diaryAddCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>diaryDetailCon</servlet-name>
  	<display-name>diaryDetailCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.diaryDetailCon</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>LoginCon</servlet-name>
     <url-pattern>/LoginCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>JoinCon</servlet-name>
     <url-pattern>/JoinCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>LogoutCon</servlet-name>
     <url-pattern>/LogoutCon</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
     <servlet-name>IdCheckCon</servlet-name>
     <url-pattern>/IdCheckCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>TourInfoCon</servlet-name>
     <url-pattern>/TourInfoCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>PlanCon</servlet-name>
     <url-pattern>/PlanCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>PlanAddCon</servlet-name>
     <url-pattern>/PlanAddCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>imgupCon1</servlet-name>
     <url-pattern>/imgupCon1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>imgupCon2</servlet-name>
     <url-pattern>/imgupCon2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>diaryCon</servlet-name>
     <url-pattern>/diaryCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>PlanInsertCon</servlet-name>
     <url-pattern>/PlanInsertCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>SetInPlanCon</servlet-name>
     <url-pattern>/SetInPlanCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>imguChangeCon1</servlet-name>
     <url-pattern>/imguChangeCon1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>diaryUpdateCon</servlet-name>
     <url-pattern>/diaryUpdateCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>imguChangeCon2</servlet-name>
     <url-pattern>/imguChangeCon2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>imgupCon3</servlet-name>
     <url-pattern>/imgupCon3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>imguChangeCon3</servlet-name>
     <url-pattern>/imguChangeCon3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>diaryUpdateCon2</servlet-name>
     <url-pattern>/diaryUpdateCon2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>imgupCon</servlet-name>
     <url-pattern>/imgupCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>diaryAlbumCon</servlet-name>
     <url-pattern>/diaryAlbumCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>diaryAddCon</servlet-name>
     <url-pattern>/diaryAddCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>diaryDetailCon</servlet-name>
  	<url-pattern>/diaryDetailCon</url-pattern>
  </servlet-mapping>
</web-app>