@charset "UTF-8";
   
        body{
    font-size: 12px;
    line-height: 16px;
   background-position: center;
   background-color : #F6F6F6;
   background-size: cover;
      
}


h1{
    text-align: center;
    font-size : 50px;
}



.hover1{
    width: auto;
    height: auto;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.hiddentext{
    width: 100%;
    height: 50px;
    padding: 10px;
    color: #FFFFFF;
    background: #f2cbf2;
    position: absolute;
    bottom: 0px;
}

#main_plan{
   position : relative;
    width: 1000px;
    height: 1200px;
    
    padding: 20px 30px;
    margin: 0 auto;
    margin-bottom : 30px;
    z-index: 2;
    background-color :    #FFFFF0;
}

#main_plan li{
    display: list-item;
    margin-bottom:  120px;
    border-top: 1px solid orange;
   
    
}





.list_theme.theme_item{
    overflow: hidden;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    
    
}





.list_theme.theme_thumb{
    width: 170px;
    height: 114px;
    overflow: hidden;
    float: left;
    display: block;
    position: relative;
    margin-right: 21px;
}


.list_theme.title.elss{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    height: auto;
    margin-top: 2px;
}

strong{
    font-weight: bold;
}


.list_theme.title{
    max-height: 40px;
    line-height: 20px;
    -webkit-line-clamp : 2;
    -webkit-box-orient: vertical;
    font-size: 100px;
}

.list_theme .desc{
    display: -webkit-box;
    overflow: hidden;
    max-height: 40px;
    line-height: 20px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 2px;
    font-size: 13px;
}

.list_theme.source_box{
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    margin-top: 2px;
    line-height: 20px;
    vertical-align: top;
    position: absolute;
    z-index: 1;
    -webkit-transition: all .5s ease;
    bottom: 0px;
    
}

.list_theme.reviewDate{
    float: right;
}

.imgBoxDiv{
    width: 200px;
    height: 150px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 2px 2px 8px 0px #000;
    float: left;
    margin-right: 30px;
}


.imgDiv{
    float: left;
    width:100%;
    height: 100%px;
    position: absolute;
   
    z-index: 1;
    -webkit-transition: all .5s ease;
    bottom: -6px;
    overflow: hidden;

}

.imgBoxDiv:hover .imgDiv{
    bottom: 30px;
}

.imgDescDiv{
    width: 100%;
    height: 25px;
    padding: 5px;
    color: black;
    background: white;
    position: absolute;
    bottom: 0px;
}

.theme-itme.h3{
    opacity: 0;
    transition: 0s;
    margin-top: 86%;
}

h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

figure{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.dayPlan{
   margin-top: 50px;
   /*font-size*/
   
}

#menuBlock{
   margin-bottom : 30px;
}

.logo{
   
   position: absolute;
   left : 80%;
   top : -140px;
   z-index: 1;
}




.p-0{
   background-color : #FFFFF0;
   color : #FFFFF0;
}
.imgc{
 width:100%;
    height:100%;
    object-fit:cover;
    }