@charset "UTF-8";
	*{
	box-sizing: border-box;
	}
	
	.score-wrapper{
		
		border:solid 1px #8080c0;
		
	}
	.score-wrapper>.score{
		position: relative;
		display: inline-flex;
		
		border: 1px solid ridge;
	}
	.score-wrapper>.score>.foreground{
		width:15%;
		overflow: hidden;
		
	}
	
	.score-wrapper>.score>.background{
		position: absolute;
	}