@charset "UTF-8";
*{
	box-sizing: border-box;
	}
	
	.score-wrapper{
		font-family: 'Noto Sans KR',sans-slef;
		font-size: 20px;
		border:1px solid black;
		
	}
	.score-wrapper >.score{
		position: relative;
		display: inline-flex;
		
		border: 1px solid ridge;
	}
	.score-wrapper >.score >.foreground{
		width:15%;
		overflow: hidden;
		
	}
	
	.score-wrapper >.score >.background{
		position: absolute;
	}